html,
body {
    height: 100%;
    padding: 0;
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    scroll-behavior: smooth;
}

body {
    background-color: #f0ebf8;
}

main {
    background-color: white
}

@import "styles/custom";
