// @import "@angular/material/prebuilt-themes/azure-blue.css";


html,
body {
    height: 100%;
    padding: 0;
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    scroll-behavior: smooth;
}

@import "styles/custom";

